.jsonFormatter {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    min-height: 50rem;
    .console {
        flex: 1 1 20%;
        margin: 1rem 2rem 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 80%;
            border-radius: 3px;
            cursor: pointer;
            padding: 0.5rem 0;
            margin-bottom: 2rem;
            border: solid 2px #fff;
            font-size: 2rem;
            color: #fff;
            background: #18bc9c;
            transition: all .3s ease-in-out;

            &:hover {
                background: #fff;
                color: #18bc9c;
            }
        }

        button:last-of-type {
            margin-bottom: 0
        }

        .convertTypeList {
            width: 80%;
            background: white;
            border-radius: 3px;
            margin-top: 0.5rem;
            padding: 1rem 0.2rem;
            li{
                padding: 0.7rem 0 0.7rem 2rem;
                font-size: 1.8rem;
                font-weight: 400;
                color: #333;
            }
            li:hover{
                color: #262626;
                background-color: #eee9e9
            }
        }
    }

    select {
        width: 80%;
        height: 3.4rem;
        padding: 0.6rem 1.2rem;
        font-size: 1.4rem;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 2rem;
    }
}


